@model AllTransactionsViewModel

@{
    ViewData["Title"] = "Operations";
}

<h1 class="text text-center">Operations</h1>

<h5 class="text text-center">Current balance : @Model.Balance KD</h5>
<form method="post" asp-action="Operations">
	@Html.HiddenFor(x => x.UserId)
	<div class="text text-center">
		<tr>
			<th><label asp-for="TypeOT"></label></th>
			<td><select asp-for="TypeOT" asp-items="@Html.GetEnumSelectList<BankAccount.Models.MyTransaction.Transactions>()"></select></td>

		</tr>
		<tr>
			<th><label asp-for="Amount"></label></th>
			<td><input asp-for="Amount" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<input class="btn custom-success text-black" type="submit" value="save" />
		
			<a asp-action="Index" asp-controller="Home" class="btn custom-danger text-black">Cancel</a></>
		</tr>

	</div>
</form>
@section Scripts
{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}