@model AllTransactionsViewModel

@{
    ViewData["Title"] = "Operations";
}

<h1>Operations</h1>

<h2 class="text text-center">Balance : @Model.Balance KD</h2>
<form method="post" asp-action="Operations">
	@Html.HiddenFor(x => x.UserId)
	<table class="table table-bordered text text-center">
		<tr>
			<th><label asp-for="TypeOT"></label></th>
			<td><select asp-for="TypeOT" asp-items="@Html.GetEnumSelectList<BankAccount.Models.MyTransaction.Transactions>()"></select></td>

		</tr>
		<tr>
			<th><label asp-for="Amount"></label></th>
			<td><input asp-for="Amount" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<input class="btn btn-primary" type="submit" value="save" />
			</td>
			<td><a asp-action="ViewProfile" asp-controller="Account" class="btn btn-danger">Cancel</a></td>
		</tr>

	</table>
</form>
@section Scripts
{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}