html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    background-color: #f8ebef !important;
}

body {
    background-color: #fbf5f6 !important;
}
/*.button-small {
    padding: 4px 8px;*/ /* Adjusts padding to make the button smaller */
    /*font-size: 0.8rem;*/ /* Reduces the font size for the text inside the button */
    /*border-radius: 4px;*/ /* Optional: Adjusts the border radius to match the "Go" button */
/*}*/
.custom-danger {
    background-color: #D18DA5;
    border: 2px solid #ffffff;
    color: white;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    .custom-danger:hover {
        background-color: #C26989; 
        border-color: #ffffff;
    }

.custom-success {
    background-color: #EACCD7;
    border: 2px solid #ffffff;
    color: white;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    .custom-success:hover {
        background-color: #DCA8BA;
        border-color: #ffffff;
    }

.alert-warning {
    background-color: #F2DFE6; 
}